body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
background-image: linear-gradient(70deg,#E8DDCB, #CDB380, #036564, #033649, #031634);  
}

h1 {
  font-family: "Bad Script";
  font-size: 5em;
  color: #fff;
  text-align: center;
}

h2{
  font-family: 'Abel';
  color: #00000;
}
h3{
  font-family: 'Abel';
}

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

p {
  margin-top: 0;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
font-family: "Abel";}
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

.page-header {
  color: #fff;
  text-align: center;
  }

.white-background {
  background-color: #fff;
  padding-top: 3em;
  }

.clear-background {
  padding: 2em 10em 2em 10em;
  color: #fff;
}

.degree-box {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 550px;
  min-height: 200px;
  padding: 24px;
  position: relative;
  width: 80%;
}
.degree-box:before, .degree-box:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.degree-box:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.degree-box:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

.img-container {
    width: 100%; 
    text-align: center; 
    overflow: hidden; 
  }

#img-contained {
   position: relative;
    left: 100%;
    margin-left: -200%;
}

#avatar {
  max-width: 400px;
}


#white-text {
  color: #fff
   
}
